.header__lang-settings {
    margin: 18px 18px 6px 0;
}

.header__lang-settings:last-child {
    margin-right: 0;
}

@media screen and (max-width: 320px) {
    .header__lang-settings {
        margin: 14px 18px 8px 0;
    }
}